In [58]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pickle
%matplotlib inline

In [38]:
# load the date
data = pd.read_csv('./data/edited_data.csv')
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,day of week,hour
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,5,0
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,5,1
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,5,2
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,5,3
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,5,4

In [41]:
# split the data into features and target 
X = data.drop(columns=['count'], axis=1)
y = data['count']

In [50]:
# split the data into train and test with 0.8 for train data
train_X, test_X, train_y, test_y = train_test_split(X, y, train_size=0.8, random_state=1)

In [52]:
# instatiate the model
model = LinearRegression()
# fit the data
model.fit(train_X, train_y)
# get the parameter and intercept
print('Coefficent: ', model.coef_)
print('Intercept: ', model.intercept_)

Coefficent:  [-1.28481664e-13  4.06341627e-14 -1.44157147e-13 -6.41906233e-14
  3.22797344e-14 -1.83603133e-14  1.34614542e-14 -1.72778458e-15
  1.00000000e+00  1.00000000e+00 -5.59274849e-15 -6.80011603e-15
 -1.67986285e-15  1.06522863e-15  1.25593980e-15]
Intercept:  9.947598300641403e-12

In [54]:
# predict the test data
predicted_y = model.predict(test_X)
predicted_y

array([308.,  14., 539., ...,  52., 244., 213.])

In [57]:
mean_squared_error(predicted_y, test_y)

6.000724819085711e-25

In [59]:
pickle.dump(model, open('./model.sav', 'wb'))